<h2>{{title}}</h2>

<form #criancaForm="ngForm" (submit) = "enviar()">

  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome" class="form-control" [(ngModel)]="model.nome"/>
  </div>

  <div class="form-group">
    <label for="rg">RG</label>
    <input type="text" id="rg" name="rg" class="form-control" [(ngModel)]="model.rg"/>
  </div>

  <div class="form-group">
    <label for="cpf">CPF</label>
    <input type="text" id="cpf" name="cpf" class="form-control" [(ngModel)]="model.cpf"/>
  </div>

  <div class="form-group">
    <label for="cor">Cor</label>
    <select id = "cor" class="form-control" name="cor" [(ngModel)]="model.cor">
      <option value="">(Selecione)</option>
      <option value="Branca">Branca</option>
      <option value="Preta">Preta</option>
      <option value="Amarela">Amarela</option>
      <option value="Parda">Parda</option>
      <option value="Indígena">Indígena</option>
    </select>
  </div>

  <div class="form-group">
    <label for="sexo">Sexo</label>
    <select id = "sexo" class="form-control" name="sexo" [(ngModel)]="model.sexo">
      <option value="">(Selecione)</option>
      <option value="Masculino">Masculino</option>
      <option value="Feminino">Feminino</option>
      <option value="Não informado">Não informado</option>
    </select>
  </div>

  <div class="form-group">
    <label for="dt_nascimento">Data de Nascimento</label>
    <input type="date" id="dt_nascimento" name="dt_nascimento" class="form-control" [(ngModel)]="model.dt_nascimento"/>
  </div>

  <div class="form-group">
    <label for="escola_atual">Escola Atual</label>
    <input type="text" id="escola_atual" name="escola_atual" class="form-control" [(ngModel)]="model.escola_atual"/>
  </div>

  <div class="form-group">
    <label for="nome_responsavel">Nome do Responsável</label>
    <input type="text" id="nome_responsavel" name="nome_responsavel" class="form-control" [(ngModel)]="model.nome_responsavel"/>
  </div>

  <div class="form-group">
    <label for="tel_responsavel">Telefone Responsável</label>
    <input type="text" id="tel_responsavel" name="tel_responsavel" class="form-control" [(ngModel)]="model.tel_responsavel"/>
  </div>

  <div class="form-group">
    <label for="dt_entrada">Data de Entrada</label>
    <input type="date" id="dt_entrada" name="dt_entrada" class="form-control" [(ngModel)]="model.dt_entrada"/>
  </div>

  <div class="form-group">
    <label for="dt_desligamento">Data de desligamento</label>
    <input type="date" id="dt_desligamento" name="dt_desligamento" class="form-control" [(ngModel)]="model.dt_desligamento"/>
  </div>

  <div class="form-group">
    <label for="situacao">Situação</label>
    <select id = "situacao" class="form-control" name="situacao" [(ngModel)]="model.situacao">
      <option value="">(Selecione)</option>
      <option *ngFor="let situacao of situacoes | async" [ngValue]="situacao._id">{{situacao.descricao}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="usuario">Usuário</label>
    <select id = "usuario" class="form-control" name="usuario" [(ngModel)]="model.usuario">
      <option value="">(Selecione)</option>
      <option *ngFor="let usuario of usuarios | async" [ngValue]="usuario._id">{{usuario.nome}}</option>
    </select>
  </div>

  <div class="text-center">
    <input class="btn btn-primary" type="submit" value="Enviar"/>
  </div>

</form>
