<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron">
  <h1>
    {{title}}
  </h1>
  <p>{{message}}</p>
</div>
<div class="btn-group btn-group-justified">
  <a [routerLink]="['/documentos']" class="btn btn-default">Documentos</a>
  <a [routerLink]="['/criancas']" class="btn btn-default">Crianças</a>
  <a [routerLink]="['/usuarios']" class="btn btn-default">Usuários</a>
  <a [routerLink]="['/situacoes']" class="btn btn-default">Situações</a>
</div>
<br>
<br>

<router-outlet></router-outlet>

